#logo{
  width: 30%;
  img{
    width: 15%;
    margin-right: 0.5em;
  }
}

*{
  font-family: 'Raleway', sans-serif;
}

a{
  text-align: center;
}

a,
button{
  color: #33495f;
  font-weight: 500;
}

button{
  border-color: #33495f;
}

#logout:hover{
  border-color: #33495f;
  background-color: #33495f;
}

a:hover{
  color: #33495f;
}

a.active{
  background-color: #33495f !important;
  color: white !important;
  border-radius: 0.5em;
}
