#logo{
  width: 30%;
  img{
    width: 15%;
    margin-right: 0.5em;
  }
}

*{
  font-family: 'Raleway', sans-serif;
}

a,
button{
  color: #33495f;
  font-weight: 500;
}
button{
  border-color: #33495f;
}

button:hover{
  border-color: #33495f;
  background-color: #33495f;
}

a:hover{
  color: #33495f;
}

.active{
  background-color: #33495f !important;
}
